@media (prefers-color-scheme: dark) {
  :root {
    --color-bg:      var(--gray-900);
    --color-fg:      var(--gray-50);
    --color-surface: #1E293B; 
    --color-border:  #334155; 
  }
}

.tema-gelap {
  --color-bg:      var(--gray-900);
  --color-fg:      var(--gray-50);
  --color-surface: #1E293B;
  --color-border:  #334155;
}